/* Skeleton UI Styles for Home and Favorite */
.home-skeleton,
.favorite-skeleton {
  background-color: #1a120b;
  border-radius: 4px;
  animation: shimmer 1.5s infinite linear;
}

.home-skeleton .skeleton-image,
.favorite-skeleton .skeleton-image {
  width: 100%;
  height: 150px;
  background-color: #d5cea3;
  margin-bottom: 10px;
}

.home-skeleton .skeleton-text,
.favorite-skeleton .skeleton-text {
  width: 100%;
  height: 20px;
  background-color: #d5cea3;
  margin: 5px 0;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.home-skeleton .skeleton-image,
.home-skeleton .skeleton-text,
.favorite-skeleton .skeleton-image,
.favorite-skeleton .skeleton-text {
  background: linear-gradient(to right, #d5cea3 8%, #f0ebce 18%, #d5cea3 33%);
  background-size: 1000px 100%;
}


/* Skeleton UI Styles for Detail */
.detail-skeleton {
  background-color: #1a120b;
  border-radius: 4px;
  animation: shimmer-detail 1.5s infinite linear;
  margin-bottom: 20px;
  padding: 20px;
}

.detail-skeleton .skeleton-image {
  width: 100%;
  height: 500px;
  background-color: #d5cea3;
  margin-bottom: 20px;
}

.detail-skeleton .skeleton-text {
  width: 100%;
  height: 300px;
  background-color: #d5cea3;
  margin: 10px 0;
}

@keyframes shimmer-detail {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.detail-skeleton .skeleton-image,
.detail-skeleton .skeleton-text {
  background: linear-gradient(to right, #d5cea3 8%, #f0ebce 18%, #d5cea3 33%);
  background-size: 1000px 100%;
}